
p.botonHome > a {
    margin-left: 20px;
    margin-top: 40px;
}

.btn-green{
    background-color:  #488456;
    color: white;
}

.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 90%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    height: 90%;
    max-height: calc(100% - 80px);
    overflow-y: scroll;
}

.portfolio-logo{
    max-height: 200px;
    max-width: 270px;
}